<ul class="soutiens">
    <li>
        <a href="https://www.prefectures-regions.gouv.fr/occitanie" target="_blank" rel="noopener">
            <img src="/images/prefet-region-occitanie.png" alt="Préfet de région Occitanie" />
        </a>
    </li>
    <li>
        <a href="https://www.librairies-occitanie.com/" target="_blank" rel="noopener">
            <img src="/images/alido.jpg" alt="Alido"/>
        </a>
        <p>La plateforme de réservation des librairies indépendantes</p>
    </li>
    <li>
        <a href="https://www.laregion.fr/" target="_blank" rel="noopener">
            <img src="/images/region-occitanie.webp" alt="Région Occitanie"/>
        </a>
        <p>soutenue par la région</p>
    </li>
    <li>
        <a href="https://centrenationaldulivre.fr/" target="_blank" rel="noopener">
            <img src="/images/librairie-de-reference.jpg" alt="LiR"/>
        </a>
        <p>Le label LiR a pour vocation de reconnaître, valoriser et soutenir les engagements et le travail qualitatif des libraires.</p>
    </li>
</ul>
