<aside>
    <nav aria-label="Menu">
        <p><a href="tel:0567085236"><i class="genericon genericon-phone"></i> 05 67 08 52 36</a></p>
        <p><a title="Suivez-nous sur facebook" target="_blank" rel="noopener"
                href="https://www.facebook.com/Librairie-Les-Passantes-1512968695671405/"><i
                    class="genericon genericon-facebook"></i> facebook</a>
            <a title="Suivez-nous sur instagram" target="_blank" rel="noopener"
                href="https://www.instagram.com/librairielespassantes/"><i
                    class="genericon genericon-instagram"></i> instagram</a>
        </p>
        <p><a title="Retrouvez la librairie sur la carte Google" target="_blank" rel="noopener"
                href="https://www.google.fr/maps/place/Librairie+Les+passantes/@43.6561196,1.4760345,17z/data=!3m1!4b1!4m2!3m1!1s0x12aea31cb9f5155d:0x529a0574981d6fdf"><i
                    class="genericon genericon-location"></i> Plan d’accès</a></p>
        <p><a title="Envoyez-nous un mail" href="mailto:contact@librairie-lespassantes.fr"><i
                    class="genericon genericon-mail"></i>
                contact@librairie-lespassantes.fr</a></p>
    </nav>
</aside>